 body{
    font-family: 'Khand',sans-serif;

 }
 
 nav {
    background-color: #edede9;
    color: #000;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    font-weight: 300;
    font-size: 16px;
    font-family: Dubai;
   }

.logo {
    width: 75px;
    height: 70px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem ;

}
.nav-element{
    list-style: none;
    display: flex;
    
}
.nav-items{
    cursor: pointer;
    margin: 0 1rem;
    font-weight: 400;
     

}
.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 26px;
}

.home {
    font-weight: 700;
}

@media (max-width:768px){
    .nav-element{
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(16, 68, 114);
        color: #edede9;
        width: 100%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }
   
    .nav-items{
        margin: 1rem 0;
    }
    
   
    .navTop{
        padding: 0 1rem;

    }
    .bars{
        margin-left: 190px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
    .fabar{
        margin-left: 14px;
        height:28px ;
        width:28px ;
    }
      
    
    .menu-icon{
        display: block;
        padding: 0 1rem;
        font-size: 20px;
        
    }
    .nav-element.active{
        opacity: 1;
        visibility: visible;
        top: 60px;
    }
   
  
    .show {
      margin: 15px 35px ;

    }
}

