body {
    font-family: "Khand", sans-serif;
    font-family: "Denk One", sans-serif;
}

.about-herosection {
    background-image: url(./img/IMG-20230731-WA0021.jpg);
    position: relative;
    color: white;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Denk One", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: normal;
    font-size: 25px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.about-bg {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -600px;
}

.asaba-property {
    position: absolute;

}

.about-section-about {
    background-color: #000;
    color: #fff;
    

}

.aboutProject {
    width: 295px;
    height: 80px;
    flex-grow: 0;
    font-family: Khand;
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;

}

.about-propert-content {
    width: 655px;
    height: 90px;
    flex-grow: 0;
    font-family: Dubai;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa ;
}

.aboutprojectimage {
    width: 500px;
    height: 400px;
    flex-grow: 0;
}

.about-row {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 100px;
}

.client-tusa {
    width: 200px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 0;
    margin-top: 14px;
}

.client {
    width: 65px;
    height: 45px;
    flex-grow: 0;
    font-family: "Khand", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;
}

.mr-etusa {
    width: 150px;
    height: 35px;
    flex-grow: 0;
    font-family: Dubai;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;
}

.location-asaba {
    width: 300px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.locatioon {
    width: 65px;
    height: 45px;
    flex-grow: 0;
    font-family: "Khand", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;
}

.delta-house {
    width: 192px;
    height: 30px;
    flex-grow: 0;
    font-family: Dubai;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;
    margin-left: 10px;

}

.residential-Type {
    width: 300px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.typpe {
    width: 65px;
    height: 45px;
    flex-grow: 0;
    font-family: "Khand", sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.61;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;
}

.residentalPropert {
    width: 255px;
    height: 30px;
    flex-grow: 0;
    font-family: Dubai;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: normal;
    color: #fbfafa;

}

.about-status {
    width: 161px;
    height: 35px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.client-feedback {
    width: 658px;
    height: 120px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.feedback-title {
    width: 200px;
    height: 35px;
    flex-grow: 0;
    font-family: "Khand", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #fbfafa;
}

.feedback {
    width: 477px;
    height: 120px;
    font-family: Dubai;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: normal;
    color: #fbfafa;
}

.about-image {
    width: 400px;
    height: 400px;
    margin-left: 180px;
    flex-wrap: wrap;
}

.about-images {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 180px;
    flex-wrap: wrap;
}

.view-all-projects {
    width: 220px;
    height: 60px;
    margin-left: 550px;
    gap: 15px;
    margin-top: 128px;
    padding: 16px 25px;
    background-color: #fbfafa;
}

.about-pictures {
    /* width: 900px; */
    height: 500px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    padding: 80px;

}

.about-picture {
    width: 360px;
    height: 300px;

}

.about-card {
    width: 320px;
    height: 30px;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

.about-cards {
    font-size: 14px;
    font-weight: 100;

}

.aboutBack {
    margin: 100px 140px;
    padding: 60px 50px;
    object-fit: contain;
    text-align: left;
    background-image: url(./img/Rectangle\ 105.png);
    background-color: #fff;
}

.aboutBack h2 {
    font-family: Dubai;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    font-size: 25px;
}

.contact-at-about {
    color: #fbfafa !important;
    margin-top: -400px;
}

.contact-at-about h2 {
    color: #fbfafa !important;
}

.contact-at-about p {
    color: #fbfafa !important;

}

.footer-at-about {
    margin-top: -150px;
}

@media (max-width: 768px) {
    .about-herosection {
        flex-wrap: wrap;
    }

    .asaba-property {
        margin: 0 35px 15px;
        font-family: "Khand", sans-serif;
        font-size: 40px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;

    }

    .about-row {
        width: 356px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }

    .aboutProject {
        margin-left: 20px;

    }

    .about-propert-content {
        width: 356px;
        height: 60px;
        font-family: Dubai;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #fbfafa;
        margin-left: 20px;

    }

    .content-at-about {
        margin-left: 20px;
        margin-top: 20px;
    }

    .content-at-about p {
        font-size: 12px;
    }

    .mr-etusa {
        margin-right: 60px;
        margin-top: -8px;
    }

    .location-asaba {
        margin-left: -20px;
    }

    .delta-house {
        margin-left: -35px;
        margin-top: -10px;

    }

    .residentalPropert {
        margin-left: -35px;
        margin-top: -10px;
    }

    .client-feedback {
        margin-left: 2px;
        width: 320px;
    }

    .feedback-title {
        width: 300px;
    }

    .feedback {
        margin-right: 30px;

    }

    .aboutprojectimage {
        width: 340px;
        height: 280px;
        margin: 49px 0 48px 32px;
    }

    .about-image {
        width: 280px;
        height: 280px;
        margin: 49px 0 48px 58px;
    }

    .about-images {
        width: 280px;
        height: 280px;
        margin: 49px 0 48px 58px;

    }

    .view-all-projects {
        width: 154px;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 25px 120px 23px 119px;
        /* padding: 30px; */
        background-color: #fbfafa;

    }

    .about-pictures {
        width: 259px;
        height: 780px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 190px 67px 60px;
        padding: 0;
    }

    .about-picture {
        width: 280px;
        height: 220px;

    }

    .aboutBack {
        width: 340px;
        height: 180px;
        flex-grow: 0;
        padding: 21px 35px 21px 13px;
        margin-left: 32px;
        margin-top: 180px;
    }

    .aboutBack h2 {
        font-size: 18px;
    }

    .contact-at-about h2 {
        margin-top: 100px;
    }

    .contact-at-about,
    .contact-form {
        margin-top: -570px;
    }

}