
.sectors {
    font-size: 32px;
    font-weight: 500;
    line-height: 80px;
    margin-left: 100px;
}

.images{
    display: flex;
    padding: 130px;
    justify-content: space-between;

}

.images h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    color: #7a7a7b;
    text-align: center;
}

.project p {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.denver p {
    font-weight: 400;
    font-size: 20px;

}

.archi p {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.light p {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

}

.trustee {
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin-top: 90px;
    text-align: center;
}

.companies {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 50px 90px 50px 100px; 

}

.company {
    background-image: url(./img/bg.png);
    height: 200px;
}

.rectangle {
    width: 100%;
    height: 950px;
    margin-top: 120px;
}

.numbers {
    display: flex;
}

.rectangle {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.ten {
    position: absolute;
    left: 350px;
    width: 250px;
    height: 250px;
}

.success {
    margin-left: 610px;
    color: #fff;
    margin-top: 90px;

}

.numbers {
    position: absolute;
    color: #100a0a;
    display: flex;
    margin: -580px 170px;

}

.upper {
    position: absolute;
    margin-top: -870px;
}

.seventy-two {
    flex-grow: 0;
    -webkit-text-stroke: 2px #fbfafa;
    font-family: DenkOne;
    font-size: 100px;
    font-weight: normal;
    line-height: 1.05;
    margin-right: 20px;

}

.square {
    flex-grow: 0;
    -webkit-text-stroke: 2px #fbfafa;
    font-family: DenkOne;
    font-size: 100px;
    font-weight: normal;
    line-height: 1.05;


}

.client {
    flex-grow: 0;
    -webkit-text-stroke: 2px #fbfafa;
    font-family: DenkOne;
    font-size: 100px;
    font-weight: normal;
    line-height: 1.05;

}

.seventy {
    margin-left: 430px;
}

.paragraph {
    margin-top: -60px;
    font-weight: 300;
    font-size: 20px;
}

.explore {
    position: absolute;
    font-size: 20px;
    margin-top: -220px;
    color: #fff;
    font-weight: 300;
    margin-left: 390px;

}

.build {
    position: absolute;
    padding:10px, 20px, 10px, 20px;
    width: 120px;
    height: 45px;
    margin-top: -100px;
    margin-left: 700px;
    border-radius: 5px;
}

.hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}













































/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */