.Hero-section{
    height: auto;
   

}
.hero h2{
    text-align: center;
    
}
.images{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding: 0 70px;

}
.image{
    display: grid;
    place-items: center;
}



.trustee {
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
}

.companies {
    display: flex;
    padding: 20px;
    gap: 120px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.company {
    background-image: url(./img/bg.png);
    height: 200px;
    margin-top: 80px;
    height: auto;
}

.hero-section {
    background-image: url(./img/rectangle.png);
    position: relative;
    display: flex;
    height: auto;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    color: #fff;
    flex-direction: column;
    gap: 130px;
    padding: 80px 0 ;

}
.upper{
    display: flex;
    align-items: center;
}
.numbers{
    display: flex;
    gap: 350px;
    flex-wrap: wrap;
   
}
.numbers .seventy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}
.paragraph{
    font-size: 22px;
    font-weight: 200;

}
.nums{
    -webkit-text-stroke: 2px #fbfafa;
    font-size: 100px;
    flex-grow: 0;
    line-height: 1.05;
    font-family: DenkOne;
    font-weight: normal;

}
.explore{
    display: grid;
    place-items: center;
    gap: 30px;

}
.build{
        padding: 14px 20px ;
        border: none;
        background-color: #FBFAFA;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        border-radius: 5px;
}
.explore h3{
        font-size: 20px;
        color: #fff;
        font-weight: 300;
}




@media (max-width:768px) {
    .images{
        gap: 50px;
    }
    .upper{
        flex-direction: column;
        

    }
    .numbers{
        gap: 35px;

    }
    .explore{
        text-align: center;
        text-wrap: balance;
    }
    .hero h2{
        font-size: 12px;

    }
    .trustee{
        font-size: 16px;
    }
    .ten{
        width: 180px;
    }
   .success{
    font-size: 16px;
   }
  
}









































